<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrelinha do futuro</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <header>
        <div id="divPrincipalHeader">
            <div>
                <img src="../imagem/logotipo.jpg" width="150px" style="margin-top: 50px;">
                <h1 style="font-size: 28px; color: rgb(255, 206, 115);">ESTRELINHAS DO FUTURO</h1>
            </div>

            <div>
                <input type="seacher" placeholder="Pesquisa aqui">
            </div>
        </div>

        <div>
            <ul id="UL" type="none">
                <a href="index.html">
                    <li>Inicío</li>
                </a>
                <a href="Pagina1.html">
                    <li>Cadastro de Funcionarios</li>
                </a>

                <a href="">
                    <li>Actividades</li>
                </a>

                <a href="">
                    <li>presença</li>
                </a>

                <a href="">
                    <li>Alunos</li>
                </a>
            </ul>
        </div>
    </header>
    <center>

        <main>
            <div style="background-color: rgb(255, 206, 115); color: white;">
                <h1 style="margin-top: 20px;">Estrelinhas do futuro</h1>
            </div>
            <div style="margin-top: 20px;">
                <hr style="background: rgb(255, 206, 115);" size="3px">
            </div>

            <form action="">

                <h1 style="margin: 10px;">Cadastro de funcionarios</h1>

                <div id="verde">
                    <div id="inputes">
                        <input type="text" placeholder="Nome do educador">
                        <input type="text" placeholder="Sobrenome">
                        <input type="date">
                        <select>
                            <option value="Genéro">Genéro</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>

                    <div id="selectmoment">
                        <input type="text" placeholder="Aréa de formação">
                        <input type="text" placeholder="Esperiencias de trabalho">
                        <select>
                            <option id=>Nacionalidade</option>
                            <option>Estados-unidos-de-America</option>
                            <option>Angola</option>
                            <option>Brasil</option>
                            <option>Portugal</option>
                            <option>Russia</option>
                            <option>Espanha</option>
                            <option>London</option>
                            <option>Italia</option>
                            <option>Africa-do-Sul</option>
                            <option>Etiopia</option>
                            <option>Romenia</option>
                            <option>China</option>
                            <option>Moçambique</option>
                            <option>Marroco</option>
                            <option>japão</option>
                            <option>Turquia</option>
                            <option>Ucrania</option>
                            <option>França</option>
                            <option>Barçelona</option>
                            <option>Argentina</option>
                            <option>Afgnistão</option>
                            <option>Egipto</option>
                            <option>Borussia</option>
                            <option>Santomé-Principe</option>
                            <option>Zambia</option>
                            <option>Ungria</option>
                            <option>Emirabiles-Arabes-Unidos</option>
                            <option>Beijaquistão</option>
                            <option>Gabão</option>
                            <option>Polonia</option>
                            <option>Mexíco</option>
                            <option>Colombia</option>
                            <option>Namibia</option>
                            <option>Usbgnistão</option>
                            <option>Damasco</option>
                            <option>Corea-do-sul</option>
                            <option>Corea-do-Norte</option>
                        </select>
                    </div>

                </div>
                <div>
                    <button type="button" style="margin-bottom: 40px;">
                        <h1>Cadastrar</h1>
                    </button>
                </div>
            </form>

        </main>
    </center>

    <footer>
        <div>
            <div>
                <ul>
                    <label> <b> Localização </b> </label>
                    <hr style="background: rgb(255, 206, 115);" size="3px">
                    <li style="margin-top: 10px;">Lubango, Huila, Angola</li>
                </ul>
            </div>

            <div>
                <ul>
                    <label> <b> Contactos </b> </label>
                    <hr style="background: rgb(255, 206, 115);" size="3px">
                    <li style="margin-top: 10px;">Telefone: 922 222 888</li>
                    <li>Recepção: 933 222 888</li>
                    <li>whatsapp: 933 222 888</li>
                    <li>Email: estrelinhasdofuturo@gmail.com</li>
                </ul>
            </div>

            <div>
                <ul>
                    <label> <b> Atendimento </b> </label>
                    <hr style="background: rgb(255, 206, 115);" size="3px">
                    <li style="margin-top: 10px;">Segunda à Sexta 07:30 até 16:00</li>
                    <li>Sábado à Sexta 07:30 até 14:00</li>
                </ul>
            </div>

        </div>
    </footer>
</body>

</html>