* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header {
    background-color: cornflowerblue;
    min-height: 20vh;
}

#divPrincipalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    margin-left: 20px;
    margin-right: 20px;
}

main{
    min-height: 60dvh;
}

footer{
    background-color: #222;
    min-height: 20dvh;
}

footer div{
    color: rgb(255, 206, 115);
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
}

select{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    border: cornflowerblue solid;
}

input{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    border: cornflowerblue solid;
}

input[type="seacher"]{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: cornflowerblue solid;
}

button{
    background: cornflowerblue;
    color: white;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background: rgb(42, 63, 102);
    color: white;
}

#menu {
    color: yellow;
    display: flex;
    justify-content: end;
    text-decoration-line: none;
}

#menu a  {
    color: yellow;
    text-decoration: none;
}

#menu li {
    padding: 10px;
    cursor: pointer;
    text-decoration-line: none;
}

#menu li:hover {
    background: Black;
    color: white;
    text-decoration: none;
}


