* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: cornflowerblue;
    min-height: 20vh;
}

input[type="seacher"]{
    height: 30px;
    width: 300px;
    border: solid black;
}

#divPrincipalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    margin-left: 20px;
    margin-right: 20px;
}

main{
    min-height: 60dvh;
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    background-color: #222;
    min-height: 20dvh;
}

footer div{
    color: rgb(255, 206, 115);
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}

select{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    border: cornflowerblue solid;
}

#select input{
    flex-direction: column;
    justify-items: center;
    display: flex;
}

input{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    border: cornflowerblue solid;
}

#inputes{
display: flex;
flex-direction: column;
}

#verde{
    display: flex;
    justify-content: space-evenly;
}

#selectmoment{
    display: flex;
    flex-direction: column;
}

button{
    background: cornflowerblue;
    color: white;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background: rgb(42, 63, 102);
    color: white;
}

#UL {
    display: flex;
    justify-content: end;
    text-decoration-line: none;
}

#UL li {
    padding: 10px;
    cursor: pointer;
    text-decoration-line: none;
}

#UL li:hover {
    background: Black;
    color: white;
    text-decoration: none;
}

#UL li:hover a {
    background: black;
    color: white;
    text-decoration: none;
}

#UL li a {
    background: cornflowerblue;
    color: black;
    text-decoration: none;
}

a{
    text-decoration: none;
}